<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PDF Chat - Madhanagopal</title>
    </head>

    <body>
        <div class="container">

        </div>
        <style>
            * {
                box-sizing: border-box;
                padding: 0;
                margin: 0;
            }

            body {
                background-color: #000;
                width: 100%;
                height: 100dvh;

            }

            .container {
                width: 100%;
                height: 100%;
                margin: auto;
                background-color: #effff1;
            }
        </style>


    </body>

</html>